body {
    margin: 0;
}


/*****************************************************************
********************** Cuadro de Comandas *************************
******************************************************************/

#header {
    background-color: rgb(253, 231, 239);
    text-align: center;
    margin: 0;
    font-size: 30px;
}
#comanda {
    margin: 0;
}

#ultimaComanda {
    width: 700px;
    border: 0;
    margin: 5px;
    background-color: white;
    font-size: 50px;
    font-style: italic;
}

#comandas {
    display: none;
    padding-left: 250px;
    max-width: 650px;
    font-size: 25px;

}


/*****************************************************************
********************** Lista de opciones *************************
******************************************************************/
.lista {
    float: right;
    max-width: 710px;
}

#listaEntrantes, #listaHamburguesas, #listaBebidas, #listaCafe, #listaLicores, #listaPostres {
    display: none;
}

#listaOpciones {
    max-width: 230px;
    display: block;
    float: left;
}

.botonDeOpcion {
    width: 233px;
    height: 200px;
    font-size: 25px;
}
