body {
    margin: 0;
}


/*****************************************************************
********************** Cuadro de Comandas *************************
******************************************************************/

#ultimaComanda {
    background-color: rgb(253, 231, 239);
    text-align: center;
    margin: 0;
    font-size: 25px;
}
#comanda {
    margin: 0;
}


/*****************************************************************
********************** Lista de opciones *************************
******************************************************************/
#listaOpciones {
    max-width: 200px;
    display: block;
    float: left;
}

.botonDeOpcion {
    width: 190px;
    height: 50px;
    font-size: 20px;
}
